body {
  margin: 0;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

*, *:before, *::after {
  outline: 1px solid rgba(255,0,0,0.5);
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  display: flex;
  width: 100%;
  background-color: #000000;
  margin-bottom: 60px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  order: 2;
  margin-bottom: 80px;
}

.site-navigation {
  /* width: 620px; */
}

.user-navigation {
  /* width: 140px; */
}


.container {
  width: 940px;
  margin: 0 auto;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  margin: 20px;;
}

.site-navigation,
.user-navigation {
  list-style: none;
  display: flex;
  padding: 0px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424; 
}

.content {
  display: flex;
  flex-direction: column;
}

.features-list {
  margin: 0;
  padding: 0; 
  display: flex;

  text-align: center;
  list-style: none;

  margin-bottom: 80px;
}

.features-item {
  width: 300px;
  padding: 0 20px;
}

.features-item h3,
.modal h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-column {
  color: #000000;
  
  background-color: #f9f6f3;
  background-image: url("../img/white-texture.jpg");
  background-size: 50px;

  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
}

.news,
.contacts {
  width: 350px;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-list time {
  text-transform: none;
}

.gallery,
.appointment {
  width: 300px;
}

.gallery-item {
  border: 7px solid #ffffff;
  background-color: #dddddd;
}


.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  
  display: inline-block;

  width: 140px;
  height: 44px;
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.appointment-form input,
.modal input {
  font: inherit;
  text-transform: uppercase;

  border: 2px solid #000000;
  background-color: transparent;
}

.appointment-form input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #ffffff;

  background-color  : #222222;
  background-image: url("../img/bg-footer.png");
  background-size: 50px;
}

.main-footer .container {
  display: flex;

  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 30px;
}


.link-underlined {
  text-decoration: underline;
}

.footer-contacts {
  width: 320px;
  margin-right: 90px;  
}

.footer-social {
  width: 145px;
}

.footer-copyright {
  width: 140px;
  margin-left: auto;
}

.footer-social ul {
  margin: 0;
  padding: 0; 
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: none;
}

.footer-social,
.footer-copyright {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.main-footer .button:hover,
.current-page {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;
  
  background-color: #f9f6f3;
  background-image: url("../img/white-texture.jpg");
  background-size: 50px;

  display: none; 
  /* Раскомментить ↑↑↑ */
  /* box-shadow: 0px 30px 50px 0 rgba(0, 1, 1, 0.75); */
}

.modal-map img {
  border: 7px solid #ffffff;
}

.login-checkbox:hover,
.login-checkbox:focus,
.login-checkbox:active {
  color: #663d15;
}

.forgot-password-link:hover {
  text-decoration: none;
}

/* Каталог товаров */

.inner-page {
  background-color: #f9f6f3;
  background-image: url("../img/white-texture.jpg");
  background-repeat: repeat;
  background-size: 50px;
  color: #000000;
}

.page-title {
  font-size: 35px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filters {
  width: 180px;
}

.filters legend,
.item-description h3 {
  font-size: 24px;
  line-height: 30 px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 18px;
}

.filters li:hover,
.filters li:focus,
.filters li:active {
  color: #663d15;
}

.item-price {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  width: 700px;

  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-bottom: 45px;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0,1,1,0.2);

  width: 220px;
  height: 385px;

  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}


.catalog-item:hover {
  box-shadow: 0 0 15px 0 rgba(0,1,1,0.3);
}

.item-name {
  text-transform: none;
  line-height: 18px;
}

.catalog-paging {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.current-page:hover,
.current-page:focus,
.current-page:active {
  background-color: #ffffff;
}


/* Карточка товара */

.item-pictures {
  width: 460px;
}

.item-pictures ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-description {
  width: 380px;
}

.item-partnumber {
  color: #aeaeae;
  text-align: right;
}

.item-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-picture-small,
.item-picture-large {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0,1,1,0.2);
}