body {
  margin: 0;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  
  background-color: #000000;
}

.site-navigation a,
.account-navigation a {
  color: #ffffff;
}

.site-navigation,
.account-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.account-navigation a:hover,
.account-navigation a:focus {
  background-color: #242424; 
}

.features-list {
  text-align: center;
  list-style: none;
}

.features-item h3,
.modal h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-column {
  color: #000000;
  
  background-color: #f9f6f3;
  background-image: url("../img/white-texture.jpg");
  background-size: 50px;
}

.news-list {
  list-style: none;
}

.news-list time {
  text-transform: none;
}

.gallery-item {
  border: 7px solid #ffffff;
  background-color: #cc00cc;
}

.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  
  width: 140px;
  height: 44px;
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.appointment-form input,
.modal input {
  font: inherit;
  text-transform: uppercase;

  border: 2px solid #000000;
  background-color: transparent;
}

.appointment-form input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #ffffff;

  background-color  : #222222;
  background-image: url("../img/bg-footer.png");
  background-size: 50px;
}

.main-footer a,
.modal a {
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: none;
}

.footer-social,
.footer-copyright {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.main-footer .button:hover,
.current-page {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;
  
  background-color: #f9f6f3;
  background-image: url("../img/white-texture.jpg");
  background-size: 50px;

  /* box-shadow: 0px 30px 50px 0 rgba(0, 1, 1, 0.75); */
}

.modal-map img {
  border: 7px solid #ffffff;
}

.login-checkbox:hover,
.login-checkbox:focus,
.login-checkbox:active {
  color: #663d15;
}

.forgot-password-link:hover {
  text-decoration: none;
}

/* Каталог товаров */

.inner-page {
  background-color: #f9f6f3;
  background-image: url("../img/white-texture.jpg");
  background-repeat: repeat;
  background-size: 50px;
  color: #000000;
}

.page-title {
  font-size: 35.5px;
  line-height: 42.5px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filters h2,
.item-description h3 {
  font-size: 23.5px;
  line-height: 30.5px;
}

.filters fieldset {
  border: none;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filters li:hover,
.filters li:focus,
.filters li:active {
  color: #663d15;
}

.item-price {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.catalog-list {
  list-style: none;
}

.catalog-item,
.item-picture-small,
.item-picture-large {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0,1,1,0.2);
}

.catalog-item:hover {
  box-shadow: 0 0 15px 0 rgba(0,1,1,0.3);
}

.item-name {
  text-transform: none;
  line-height: 18px;
}

.catalog-paging {
  list-style: none;
  color: red;
}

.current-page:hover,
.current-page:focus,
.current-page:active {
  background-color: #ffffff;
}


/* Карточка товара */

.item-pictures ul {
  list-style: none;
}

.item-partnumber {
  color: #aeaeae;
  text-align: right;
}

.item-content {
  list-style-type: none;
}